@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Styling the signup input field */
.signup-date-input {
  color: white; /* Changes the input text color to white */
  background-color: transparent; /* Keep background transparent or any color */
  padding: 5px; /* Adjust padding to fit your layout */
}

/* Change the color of the calendar icon in some browsers */
.signup-date-input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverts the color to white (on supporting browsers) */
}

/* Ensure focus state also looks good */
.signup-date-input:focus {
  border-color: black;
  outline: none;
}
/* Styling the edit input field */
.edit-date-input {
  color: black; /* Changes the input text color to white */
  background-color: transparent; /* Keep background transparent or any color */
  padding: 5px; /* Adjust padding to fit your layout */
}

input[type="date"].edit-date-input::-webkit-calendar-picker-indicator {
  filter: invert(0); /* Inverts the color to white (on supporting browsers) */
}
/* Ensure focus state also looks good */
.edit-date-input:focus {
  border-color: black;
  outline: none;
}
